/* Styles de NvsS Original */
body {
    font-family: Verdana;
    font-size: 11px;
    background-color: #999999;
}

select {
	font-size: 11px;
	font-family: Verdana;
	font-weight: bold;
	border-color: black;
	border: solid 1px;
	background-color: #FFF8DC;
}

.bouton_connexion 	{font-size: 10px; font-family: Verdana; font-weight: bold; border-color: black; border: solid 2px; background-color: #FFF8DC;}
.input_connexion 	{font-size: 10px; font-family: Verdana; font-weight: bold; border-color: black; border: solid 1px; background: #FFF8DC;}

/* Relifting de NvsS 2020 */

#jouer {
  width: 90%;
}

.white { color: #FFF; }
.center { text-align: center; }

/* Menu HRP */
#hrpMenu {
	background-color: #999999;
	width: 90%;
	margin: auto;
	font-weight: bold;
}

#tp1 {
	color: #FFFFFF;
}

#hrpMenu a, #infoTable a, #actionsTable a, #liensJoueur a, #visuTable a, #infoTour a, #classementTable a {
	font-weight: bold; 
	text-decoration: none; 
	color: #FFFFFF;
}

/* Overrides de la feuille de style style2.css */
#hrpMenu a:hover, #infoTable a:hover {
	text-decoration : none;
}

#hrpMenu a:visited, #infoTable a:visited {
	color: #FFFFFF;
}

/* Info Table */
#infoTable {
	font-weight: bold;
  border-collapse: separate;
  border-spacing: 1px;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;
  margin-bottom: 15px;
  float: left;
}

#infoTable td {
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
  padding: 1px;
}

#infoTable select {
  width: 100%;
  min-width: 270px;
}

#infoTour {
  float: left;
  margin-left: 10px;
  font-weight: bold;
}

#infoTour img {
  width: 66px;
  height: 66px;
  margin-right: 10px;
}

/* Game Body */
#gameBody {
  width: 100%;
}

/* Caracs Perso */
#caracsPersoPv {
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;
  background-color: #66C;
  width: 100%;
  margin-bottom: 10px;
  border-collapse: separate;
  border-spacing: 0px;
}

#caracsPersoPv {
  color: white;
}

#caracsPersoPv b {
  color: initial;
}

#caracsPersoPv .td {
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
  padding-right: 4px;
  height: auto;
}

#pvBarTable {
  float: right;
}

#caracsPersoReste {
  background-color: #66C;
  border: 2px solid #66C;
  margin: 0 auto;
}

#caracsPersoLeft, #caracsPersoCenter, #caracsPersoRight {
  border-collapse: separate;
  border-spacing: 1px;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;
}

#caracsPersoLeft td, #caracsPersoCenter td, #caracsPersoRight td {
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
  color: white;
  padding-right: 4px;
}

#caracsPersoLeft td b, #caracsPersoCenter td b, #caracsPersoRight td b {
  color: initial;
}

#caracsPersoLeft td a, #caracsPersoCenter td a, #caracsPersoRight td a {
  color: white;
  font-weight: normal;
  text-decoration: none;
}

/* Combat Table */
#combatTable {
  border-collapse: separate;
  border-spacing: 1px;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;  
  background-color: #CC6699;
}

#combatTable td {
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
  padding: 0px;
  padding-left: 1px;
}

#combatTable td > center {
  color: white;
}

#combatTable td b {
  color: initial;
}

#combatTable select {
  width: 100%;
}

#combatTable input[type=submit] {
  font-size: 10px; 
  font-family: Verdana; 
  font-weight: bold;
  width: 100%;
}

/* Tableau déplacement */

#moveTable {
	font-weight: bold;  
  border-collapse: separate;
  border-spacing: 1px;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;
}

#moveTable td{
  background-color: #CCC;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

#moveTable img:hover {
	filter: drop-shadow(0px 0px 3px white);
}

/* Cadre Visu */

#visuTableContainer {
  margin: 0 auto; /* Centre le cadre visu */
}

#visuTable {
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;
	border-collapse: separate;
  border-spacing: 0px;
}

#visuTable th {
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #CCCCCC;
	background-image: none;
}

#visuTable th, #visuTable td {
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
  padding: 0px;
}

#visuTable th[data-center=yes] {
	color: #0066cc;
	font-weight: bold;
}

/* Tableau d'actions */
#actionsTableContainer {
  width: 100%;
}

#actionsTable select {
	overflow-y: hidden;
}

#actionsTable select option[value=invalide], #actionsTable {
	font-weight: bold;
}

#actionsTable select option:hover {
	background-color: white;
}

#actionsTable select option {
	font-weight: bold;
}

/* Liens Joueur */
#liensJoueur {
  text-align: center;
  padding-bottom: 4px;
  border-bottom: 1px solid #CCC;
  margin-bottom: 16px;
}

/* Liens Perso */

#moveTableContainer > tbody > tr > td {
  width: 50%; 
  vertical-align: top;
}

#liensPerso {
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;
}

#liensPerso th, #liensPerso td {
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

#liensPerso td {
  line-height: 1.2rem;
  padding: 2px;
}
#liensPerso br {
  margin-bottom: 5px;
}
#liensPerso a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 5px;
}

#liensPerso th {
  background-color: #CCC;
  text-align: center;
}

#liensPerso .red {
  font-weight: bold;
  color: #CC0033;
}

/* Classement */

#classementTable td {
  padding: 0px;
}

#classementTable {
  font-weight: bold;
  border-collapse: separate;
  border-spacing: 1px;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;
}

#classementTable th, #classementTable td {
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
}